/control
/libparted-fs-resize0.install
/libparted-fs-resize0.install.in
/libparted-fs-resize0.symbols
/libparted-fs-resize0.symbols.in
/libparted-fs-resize0-udeb.install
/libparted-fs-resize0-udeb.install.in
/libparted2.install
/libparted2.install.in
/libparted2.symbols
/libparted2.symbols.in
/libparted2-udeb.install
/libparted2-udeb.install.in
