/control
/libparted-fs-resize0.files
/libparted-fs-resize0.files.in
/libparted-fs-resize0.symbols
/libparted-fs-resize0.symbols.in
/libparted-fs-resize0-udeb.files
/libparted-fs-resize0-udeb.files.in
/libparted2.files
/libparted2.files.in
/libparted2.symbols
/libparted2.symbols.in
/libparted2-udeb.files
/libparted2-udeb.files.in
